form .avatar{
    width: 100px;
    margin-bottom: 15px;
}

.navbar .container-avatar, .pub_image .container-avatar img{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.navbar .container-avatar img, .profile-user .container-avatar .avatar{
    width: 100%;
}

.navbar .container-avatar:hover{
    outline: 2px solid white;
    transition: 0.03s;
}

.pub_image{
    margin-bottom: 25px;
}

.pub_image .container-avatar{
    float: left;
    margin-right: 15px;
}

.pub_image .data-user{
    line-height: 35px;
    font-weight: bold;
}

.pub_image .data-user a, .container .row div .card .caja-principal .box .comment a{
    color: #444;
    text-decoration: none;
}

.pub_image .data-user a:hover, .container .row div .card .caja-principal .box .comment a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.nickname{
    color: gray;
}

.image-container{
    width: 80%;
    margin: 0 auto 0 auto;
    max-height: auto;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: auto;
}

.pub_image .card-body{
    padding: 0px;
}

.pub_image .card-body .descripcion{
    padding: 20px 10% 0px 10%;
}

.likes{
    float: right;
    padding-top: 2%;
    margin: 0 13px 0 13px;
}

.comments{
    padding-left: 10%;
    padding-bottom: 10px;
}

.likes img{
    width: 20px;
}

.pub_image .btn-comments{
    margin: 0px 0px 20px 0px;
}

.number_likes{
    color: gray;
    font-size: 15px;
    margin-left: 5px;
}

.profile-user .container-avatar{
    width: 150px;
    height: 150px;
    border-radius: 900px;
    overflow: hidden;
    margin-right: 20px;
}

.container .container-users .box{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 5px;
}

.box-profile .profile-user{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    outline: #444 2px solid;
    background-color: rgb(123, 122, 122);
}

.container .container-users .box a{
    text-decoration: none;
}

.container .container-users .box:hover{
    transition: 0.05s;
    box-sizing: border-box;
    outline: white 2px solid;
    background-color: rgb(123, 122, 122);
}

.container .container-users .box:hover a .user-fullname{
    text-decoration: underline;
}

.container .container-users .box:hover a .profile-user .container-avatar{
    outline: 2px solid white;
} 

.profile-user .user-info{
    padding-left: 30px;
    padding-top: 30px;
}

.container .container-users .box a .profile-user .user-info p{
    text-decoration: none;
    color: #444;
}
